<div id="<%= dom_id elec_solution %>">
  <p>
    <strong>First name:</strong>
    <%= elec_solution.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= elec_solution.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= elec_solution.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= elec_solution.phone %>
  </p>

  <p>
    <strong>State:</strong>
    <%= elec_solution.state %>
  </p>

</div>
