<p style="color: green"><%= notice %></p>

<%= render @elec_solution %>

<div>
  <%= link_to "Edit User", edit_elec_solution_path(@elec_solution) %> |
  <%= link_to "Back to User", elec_solutions_path %>

  <%= button_to "Remove User", @elec_solution, method: :delete %>
</div>
