
<!DOCTYPE html>
<html>
<nav>
  <ul class = "navigation">
  <button><%= link_to "Home", root_path, class: "navbar-brand" %></button>
        <li class="nav-item">
         <%= link_to "BATTERIES", home_batteries_path, class:"navbar-brand" %>
        </li>
        <li class="nav-item">
          <%= link_to "SOLAR", home_solar_path, class:"navbar-brand" %>
        </li>
        <li class="nav-item">
          <%= link_to "INVERTERS", home_inverters_path, class:"navbar-brand" %>
        </li>
       <li class="nav-item">
          <%= link_to "INSTALLATIONS", home_install_path, class:"navbar-brand" %>
        </li>
          <li class="nav-item">
              <%= link_to "INQUIRIES", home_inquire_path, class:"navbar-brand" %>
          </li>
      </ul>

    <div class ="button">
    <%= link_to "LOGIN", elec_solutions_path, class:"btn-login" %>
    </div>

    <div class ="btn-second">
    <%= link_to "SIGN UP", new_elec_solution_path, class:"btn-sign" %>
    </div>



 <form class="search">
      <input class="form" type="search" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>

 <div class="col">
<div class="image-haeder">
                <%= image_tag("photos/header.png", alt: "Solar_gen", class:  "header", id: "header_img") %>
</div>
</div>
</body>
</html>