
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
     aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to 'Elec Solutions', root_path, class: 'navbar-brand' %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class = 'signup'>
        <%= link_to 'sign up', home_signup_path,class:"btn btn-outline-info btn-sm"%>
        </li>
    <li class = 'Show-friends'>
        <%= link_to ' Friends', friends_path ,class:"btn btn-outline-info btn-sm"%>
      </li>

  <% if user_signed_in? %>
     <li class = 'add-friends'>
        <%= link_to 'Add Friends', new_friend_path,class:"btn btn-outline-info btn-sm" %>
    </li>

     <li class = 'add-friends'>
        <%= button_to 'Sign Out',destroy_user_session_path, method: :delete, class:"btn btn-outline-info btn-sm"%>
    </li>


    <li class = 'add-friend'>
        <%= link_to 'Edit Profile',  edit_user_registration_path,class:"btn btn-outline-info btn-sm" %>
    </li>
<% else %>

    <li class = 'add-friends'>
        <%= link_to 'Sign In ',new_user_session_path, class:"btn btn-outline-info btn-sm" %>
    </li>

    <li class = 'add-friends'>
        <%= link_to 'Sign Up', new_user_registration_path,class:"btn btn-outline-info btn-sm"   %>
    </li>
<% end %>
  </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class ="btn btn-outline-info btn-sm"" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="card text-bg-dark mb-10" style="max-width: 1000px max-length: 1000px; ">
  <div class="card-header">Elec Solutions</div>
  <div class="card-body">
    <h5 class="card-title">Select What You Want</h5>
    <p class="card-text">We offer Range of backup power solutions from inverters,batteries, solar and automaric switches.</p>
  </div>
</div>


